# sample configuration to set local IPs, hostname etc

#!substdef "!MY_IP_ADDR!45.55.74.118!g"
#!substdef "!MY_DOMAIN!saycel.webph.one!g"
#!substdef "!MY_WS_PORT!880!g"
#!substdef "!MY_WSS_PORT!8443!g"
#!substdef "!MY_WS_ADDR!tcp:MY_IP_ADDR:MY_WS_PORT!g"
#!substdef "!MY_WSS_ADDR!tls:MY_IP_ADDR:MY_WSS_PORT!g"
#!substdef "!MY_PUSH_NOTIF_URL!http://127.0.0.1:3000!g"
#!substdef "!CONF_SERVER_IP!MY_IP_ADDR!g"
#!substdef "!CONF_SERVER_PORT!5080!g"

#!substdef "!PEER_PREFIX_1!999100!g"
#!substdef "!PEER_DOMAIN_1!rhizortc.specialstories.org!g"

#!substdef "!PEER_REGEX_2!^680001|^680681|^688201|^688261|^688101|^688001|^694071|^696101|^692201|^696951|^688851|^688471|^702701|^100001|^687251|^711301|^709661!g"
#!substdef "!PEER_DOMAIN_2!sip.rhizomatica.org!g"

#!substdef "!PRIVATE_KEY_PATH!/etc/letsencrypt/live/rhizortc.specialstories.org/privkey.pem!g"
#!substdef "!CERTIFICATE_PATH!/etc/letsencrypt/live/rhizortc.specialstories.org/fullchain.pem!g"
